*{
    margin: 0 auto;
    /* padding-bottom: 20px; */  
}
header{
    display: flex;
    justify-content: center;
}
nav{
  display: flex;
   width: 100%;
   align-items: center;
justify-content: space-around;

}

nav .logo{
font-weight: 700;
font-size: 30px;
text-decoration: none;

}

nav ul{
display: flex;
align-items: center;
gap: 30px;
font-weight: 500;
list-style: none;
color: black;

}
nav ul li:hover{
text-decoration: underline;
font-weight: 900;
}
body{
    padding-top: 40px;
    padding-left: 70px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
    margin: 60px;
    text-align: center;
    color: green;
}
p{
    text-align: center;
}
#contact{
    text-decoration: none;
    text-align: center;
}